
/* This is for the large PC screen */ 

@media screen and (max-width:1281px) {

    .welcome_msg {
        padding-top: 15px;
    }    
    .search-container {
        top:12ex;
    }

    .data_display {
        padding-left: 400px;
        padding-top: 120px;
        width: 150px;
        height: auto;
    }

}

/* This is for the laptop */ 
@media screen and (max-width:1025px) {
    
}


