<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrients Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/mediaqueries.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="static/script.js" defer></script>
</head>
<body>
    <div class='welcome_msg'>
        <h1>Welcome to Nutrients Tracker</h1>
    </div>

    <div class="search-container">
        <input type="search" id="searchbar" placeholder="Search...">
        <ul id="suggestions" class="suggestions"></ul>
    </div>

    <!-- Modal Structure -->
    <div id="myListModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <h2>My List</h2>
        <ul id="itemList"></ul>
        </div>
    </div>
  

    <div class="data_display" id="data_display"></div>
</body>
</html>
